.my-footer {
  height: 5em;
  background-color: #163b65;
  margin-top: 1.5em;
  padding: 1em;
  color: #ffffff;
  font-size: 80%;
}

.room-image {
  max-width: 50%;
}

/* override styles here */
.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 1000;
}
