{{template "base" .}} {{define "content"}}
<div class="container mt-2">
  <div class="row">
    <div class="col text-center mt-4">this is contact page</div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="/make-reservation-ms" class="btn btn-success"
        >Check Availability
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>this is some text. this is some text</p>
    </div>
  </div>
</div>
{{ end }}
